html, body {
  margin: 0;
  padding: 0;
  background-color:black;
}

h1{
text-align: center;
color:cyan;
}

p {
text-align: center;
color: cyan;
}

canvas {
  margin: auto;
  display: block;
  padding:30px;
  boder-color:cyan;
  border-style: groove;
}

button {
margin: auto;
display:block;
padding: 20px;
color: cyan;
background-color:black;
boder-style:none;
}
